configs/n8n-workflow-template.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "asterisk-call",
                "options": {
                    "binaryData": true
                }
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{$json.body.mode}}",
                "rules": {
                    "rules": [
                        {
                            "value2": "welcome"
                        },
                        {
                            "value2": "process_input"
                        }
                    ]
                }
            },
            "name": "Switch Mode",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "text_response",
                            "value": "Hello! I am your AI assistant. How can I help you today?"
                        }
                    ]
                }
            },
            "name": "Welcome Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                650,
                100
            ]
        },
        {
            "parameters": {
                "binaryPropertyName": "file",
                "options": {}
            },
            "name": "Whisper STT",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                650,
                450
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "model": "gpt-3.5-turbo",
                "prompt": {
                    "messages": [
                        {
                            "role": "user",
                            "content": "={{$json.text}}"
                        }
                    ]
                }
            },
            "name": "ChatGPT",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                850,
                450
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "operation": "audio",
                "text": "={{$json.message.content}}",
                "voice": "alloy",
                "options": {}
            },
            "name": "OpenAI TTS",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1050,
                450
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Return Audio",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1250,
                450
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{JSON.stringify($json)}}",
                "options": {}
            },
            "name": "Return Text",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                850,
                100
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch Mode",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Mode": {
            "main": [
                [
                    {
                        "node": "Welcome Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Whisper STT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Welcome Message": {
            "main": [
                [
                    {
                        "node": "Return Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Whisper STT": {
            "main": [
                [
                    {
                        "node": "ChatGPT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ChatGPT": {
            "main": [
                [
                    {
                        "node": "OpenAI TTS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI TTS": {
            "main": [
                [
                    {
                        "node": "Return Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}