configs/n8n-trigger-call-workflow.json
{
    "name": "Trigger Phone Call",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "trigger-call",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook",
            "name": "Trigger Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3030/call",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phoneNumber",
                            "value": "={{ $json.body.phoneNumber }}"
                        },
                        {
                            "name": "context",
                            "value": "={{ $json.body.context || 'outbound-ai-conversational' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http",
            "name": "Call API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond",
            "name": "Return Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Trigger Webhook": {
            "main": [
                [
                    {
                        "node": "Call API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call API": {
            "main": [
                [
                    {
                        "node": "Return Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}